NEXT_PUBLIC_SITE_URL=https://weddingbudget.co.kr
NEXT_PUBLIC_ADFIT_ENABLED=false
NEXT_PUBLIC_ADFIT_ALLOWED_HOSTS=weddingbudget.co.kr,www.weddingbudget.co.kr
NEXT_PUBLIC_ADFIT_CALC_SECONDARY_ENABLED=true
NEXT_PUBLIC_ADFIT_CALC_ENTRY_M_320X100=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALC_ENTRY_D_728X90=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALC_ENTRY_D_300X250=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALC_PRIMARY_M_320X100=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALC_PRIMARY_D_728X90=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALC_PRIMARY_D_300X250=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALC_SECONDARY_M_300X250=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALC_SECONDARY_D_300X250=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALCULATOR_HUB_M_320X100=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_CALCULATOR_HUB_D_728X90=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_HOME_AFTER_SITUATIONS_M_320X100=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_HOME_AFTER_SITUATIONS_D_728X90=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_GUIDE_HUB_M_320X100=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_GUIDE_HUB_D_728X90=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_GUIDE_MID_M_300X250=DAN-REPLACE-ME
NEXT_PUBLIC_ADFIT_GUIDE_MID_D_300X250=DAN-REPLACE-ME

AFFILIATE_WEDDING_HALL_URL=#
AFFILIATE_STUDIO_DRESS_MAKEUP_URL=#
AFFILIATE_HOME_APPLIANCE_URL=#
AFFILIATE_HONEYMOON_URL=#
AFFILIATE_CLEANING_URL=#
AFFILIATE_INTERNET_URL=#
