NEXT_PUBLIC_SITE_URL=https://weddingbudget.co.kr

AFFILIATE_WEDDING_HALL_URL=#
AFFILIATE_STUDIO_DRESS_MAKEUP_URL=#
AFFILIATE_HOME_APPLIANCE_URL=#
AFFILIATE_HONEYMOON_URL=#
AFFILIATE_CLEANING_URL=#
AFFILIATE_INTERNET_URL=#
